* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 auto;
  max-width: 90vw;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}

:root {
  --main-color: #2b50aa;
  --secondary-color: #6e3cbc;
  --accent-color: #00f5ff;
  --background-color: #0a0e21;
  --background-secondary-color: #1a1f35;
  --text-color: #ffffff;
  --text-secondary-color: #b8c0e0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px;
}
nav a {
  margin: 0 10px;
  color: #00ffff;
  justify-content: center;
}
article h1,
h3 {
  color: #00ffff;
  margin: 10px;
}
article p {
  margin: 10px;
  color: #00ffff;
}
section img {
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 10px;
}
#container {
  display: flex;
  justify-content: space-between;
}
#container div {
  flex: 1;
}
.titulo h1 {
  font-size: 30px;
  text-align: start;
  color: silver;
}

.galeria {

  padding: 20px;
  border: 1px solid var(--accent-color);

}
.container-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
 
}

.galeria h1 {
  width: 100%;
  text-align: start;
  color: #00ffff;
  margin-bottom: 20px;
}

.card {
  background-color: var(--background-secondary-color);
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  width: 45%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: #00ffff;
}
