* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --main-color:  #2B50AA;
    --secondary-color: #6E3CBC;
    --accent-color:  #00F5FF;
    --background-color: #0A0E21;
    --background-secondary-color: #1A1F35;
    --text-color: #FFFFFF;
    --text-secondary-color: #B8C0E0;

    
}